@CHARSET "UTF-8";

section#innerPanelGoogleAnalytics > div.innerPanelContent > div.title {
	background-color: white;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

section#innerPanelGoogleAnalytics > div.innerPanelContent > div.link {
	padding: 5px;
	text-align: right;
}

section#innerPanelGoogleAnalytics > div.innerPanelContent > div#googleAnalyticsDiagram {
	background-color: white;
	height: 200px;
}